<a href="https://colab.research.google.com/github/MehrabHussain47/Problem-Solving/blob/master/_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question

You are given the following sales data in dictionary format. Some product records may appear multiple times.

data = {

    'ProductID': [101, 102, 103, 101, 105, 106, 107],

    'Product': ['Laptop', 'Headphones', 'Keyboard', 'Laptop', 'Mouse', 'Webcam', 'Charger'],

    'Category': ['Electronics', 'Electronics', 'Electronics', 'Electronics', 'Accessories', 'Accessories', 'Accessories'],

    'UnitsSold': [20, 35, 50, 25, 60, 25, 40],

    'UnitPrice': [750, 50, 30, 750, 25, 45, 20]

}

Tasks:

1. Create a DataFrame from the dictionary and display all rows. Add a new column TotalSales calculated as UnitsSold * UnitPrice.

2. Remove duplicate products using drop_duplicates, keeping only the first occurrence of each ProductID. Show the resulting DataFrame.

3. From the de-duplicated DataFrame, find the product(s) with the lowest TotalSales, and display the Product name and corresponding TotalSales.

# Solution - 1

In [32]:
import pandas as pd

In [33]:
data = {
    'ProductID': [101, 102, 103, 101, 105, 106, 107],
    'Product': ['Laptop', 'Headphones', 'Keyboard', 'Laptop', 'Mouse', 'Webcam', 'Charger'],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Electronics', 'Accessories', 'Accessories', 'Accessories'],
    'UnitsSold': [20, 35, 50, 25, 60, 25, 40],
    'UnitPrice': [750, 50, 30, 750, 25, 45, 20]
}

df = pd.DataFrame(data)

In [34]:
df # dataframe from data dictionary

   ProductID     Product     Category  UnitsSold  UnitPrice
0        101      Laptop  Electronics         20        750
1        102  Headphones  Electronics         35         50
2        103    Keyboard  Electronics         50         30
3        101      Laptop  Electronics         25        750
4        105       Mouse  Accessories         60         25
5        106      Webcam  Accessories         25         45
6        107     Charger  Accessories         40         20

In [35]:
df['TotalSales'] = df['UnitsSold'] * df['UnitPrice']
print(df) # dataframe after adding new column TotalSales

   ProductID     Product     Category  UnitsSold  UnitPrice  TotalSales
0        101      Laptop  Electronics         20        750       15000
1        102  Headphones  Electronics         35         50        1750
2        103    Keyboard  Electronics         50         30        1500
3        101      Laptop  Electronics         25        750       18750
4        105       Mouse  Accessories         60         25        1500
5        106      Webcam  Accessories         25         45        1125
6        107     Charger  Accessories         40         20         800

# Solution - 2

In [36]:
df_unique = df.drop_duplicates(subset='ProductID', keep='first')
print(df_unique) # dataframe after removing duplicate products

   ProductID     Product     Category  UnitsSold  UnitPrice  TotalSales
0        101      Laptop  Electronics         20        750       15000
1        102  Headphones  Electronics         35         50        1750
2        103    Keyboard  Electronics         50         30        1500
4        105       Mouse  Accessories         60         25        1500
5        106      Webcam  Accessories         25         45        1125
6        107     Charger  Accessories         40         20         800

# Solution - 3

In [37]:
min_sales = df_unique['TotalSales'].min() # find minimum TotalSales

In [38]:
lowest_sales_products = df_unique[df_unique['TotalSales'] == min_sales][['Product', 'TotalSales']]
print(lowest_sales_products) # show the Product name and corresponding TotalSales

   Product  TotalSales
6  Charger         800